extends life-stories-article-layout.pug

block vars
  - var titleName  = 'История Глеба: мальчика с редким заболеванием Спинальная мышечная атрофия-1тип.';

block life-stories-article-content
  .life-stories-article-text-block
    p.life-stories-article-text У 11-летнего Глеба редкое генетическое заболевание — Спинальная мышечная атрофия (СМА). Он очень веселый и общительный  мальчик. Любит пошутить. С удовольствием изучает все школьные предметы, увлекается компьютерными играми. Проходит обучение IT-технологиям. Мечтает выучить японский язык.
    p.life-stories-article-text Историю Глеба рассказывает его мама Наталья Сидорченко. Заболевание проявилось не сразу. Только когда сыну исполнилось 7 месяцев, мы с мужем заметили, что наш ребенок не опирается на ножки. Глеб не сел вовремя, не пошел. Обращались к врачам, которые все как один говорили: «Проколите витамины, сделаете массаж, физио- процедуры и все наладится…». Время шло, ребенок слаб, и никакое лечение не помогало. Он уже перестал поворачиваться самостоятельно. По совету невролога мы обратились к генетику, который и поставил неутешительный диагноз Спинальная мышечная атрофия. Его слова звучали, как приговор. Мы не ожидали. Это означало, ребенок никогда не встанет на ножки, мышечная слабость с каждым годом будет возрастать, что приведет к необратимым последствиям. Ген, который отвечает за работу нервных клеток спинного мозга, «сломан».
    p.life-stories-article-text Представить, как было тяжело и больно нам услышать этот диагноз, наверное, может  только тот, кто через это прошел. Земля ушла из-под ног, мы ощущали опустошение и страх будущего.  Сознание отказывалось принимать эту новость. 2 месяца, пока ждали результат генетического анализа, надеялись, что это ошибка.  В интернете информации было крайне мало о диагнозе. В основном, что лечения нет, и дети с СМА 1типа живут не более 5 лет.
    p.life-stories-article-text Потом была госпитализация по квоте в МНИИ педиатрии и детской хирургии и повторный генетический анализ, который еще раз подтвердил диагноз. Еще раз осознание, принятие.
    p.life-stories-article-text Мы понимали, что времени на раздумье у нас мало. Что нужно что-то делать, чтобы поддержать нормальное состояние ребенка, не дать ему угаснуть. Обеспечить его уходом, заботой, любовью, подарить ему море впечатлений, чтобы его маленькая жизнь была наполнена событиями.
    p.life-stories-article-text И понеслось: массажи, лфк, Войта-терапия, плавание и ныряние в ванне, бассейне, верховая езда на лошади, прогулки на свежем воздухе, монастыри, храмы, санатории, поездки по городам, на море.
    p.life-stories-article-text Мы понимали: что бы ни сделали — мы все равно не сможешь вылечить своего сына, его состояние все равно будет ухудшаться, постепенно, и на это никак нельзя повлиять.
    p.life-stories-article-text Так и жили, пока в 2019г нас не обрадовала новость  о том, что в России прошел регистрацию первый препарат для лечения спинальной мышечной атрофии, потом был зарегистрирован второй препарат, который сейчас принимает Глеб. Радости не было предела. Сотни семей ждали этого события и мы не исключение. Конечно, этот препарат не излечит полностью от недуга, но зато теперь у нас есть возможность замедлить течение болезни и даже улучшить состояние ребенка.
    p.life-stories-article-text Глеб стал лучше дышать, лучше глотать пищу, прибавил в весе, тело окрепло. Появилась выносливость и жизненная энергия. Теперь у него и у меня очень много планов на будущее.
    p.life-stories-article-text Глеб с нами, он наше счастье, радость, лучик света. Он герой с большой буквы. Наш позитив, боец и победитель. Каждый день он борется с этой проклятой болезнью, и пока счет в нашу пользу.
    p.life-stories-article-text Благодаря этому страшному диагнозу мы встретили столько замечательных людей. Благодарю каждого, кто нам протягивал руку помощи. Нам помогали благотворительные фонды, врачи, предприниматели и просто неравнодушные люди. Когда рядом много добрых людей это так греет душу и все тяготы легче переносятся.
    a(class="button" href="life-stories-page.html") Читать другие истории
  .life-stories-article-images-block
    <picture>
      <source srcset="img/photo/life-stories-section/gleb.avif" type="image/avif">
      <source srcset="img/photo/life-stories-section/gleb.webp" type="image/webp">
      <source srcset="img/photo/life-stories-section/gleb.jpg" type="image/jpg">
      <img class="life-stories-article-img" src="img/photo/life-stories-section/gleb.jpg" alt="Фото Глеба">
    </picture>
    <picture>
      <source srcset="img/photo/life-stories-section/gleb-2.avif" type="image/avif">
      <source srcset="img/photo/life-stories-section/gleb-2.webp" type="image/webp">
      <source srcset="img/photo/life-stories-section/gleb-2.jpg" type="image/jpg">
      <img class="life-stories-article-img" src="img/photo/life-stories-section/gleb-2.jpg" alt="Фото Глеба">
    </picture>
