.button {
  padding: 14px;
  color: $background-color;
  text-decoration: none;
  background-color: white;
  border: 1px solid $background-color;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: $background-color;
    transition-duration: 0.5s;
  }
}

.button-help {
  color: white;
  background-color: $help-btn-color;

  &:hover {
    color: white;
    background-color: $help-btn-color-hover;
  }
}
