section.slogan-section
  .container
    .corner-box-1.slogan__text
      .corner-textbox-1
        p Наш благотворительный фонд занимается помощью тяжелобольным детям и взрослым. Мы являемся связующим звеном между больным и тем, кто может и хочет помочь.
