.slogan-section {
  width: 100%;
  height: 400px;
  background-color: white;
  background-image: url("../img/photo/slogan-section-photo.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
  filter: drop-shadow(0 4px 6px rgba(0 0 0 / 12%));
}

.slogan-section__text-block {
  box-sizing: border-box;
  width: 54%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
  transform: none;
  transform: skewX(-10deg);
}

.slogan-section__text {
  margin: 0;
  color: $background-color;
  font-weight: 100;
  font-size: 32px;
  transform: skewX(10deg);
}

@media (max-width: 1180px) {
  .slogan-section {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
  }

  .slogan-section__text-block {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    width: auto;
    min-height: 520px;
    padding: 0;
    background: none;
    transform: none;
  }

  .slogan-section__text {
    padding: 12px;
    font-size: 22px;
    background-color: white;
    transform: none;
  }
}

@media (max-width: 600px) {
  .slogan-section {
    background-position: top;
    background-size: contain;
  }

  .slogan-section__text {
    padding-bottom: 30px;
  }
}
