section.slogan-section
  .slogan-section__text-block
    .container
      p.slogan-section__text "Наш благотворительный фонд занимается помощью тяжелобольным детям и взрослым. Мы являемся связующим звеном между больным и тем, кто может и хочет помочь".

