section.contacts-section#contact-us
  .container
    h2(data-aos="fade-right") Свяжитесь с нами
    .contacts-section__grid
      .contacts-section__info
        p.contacts-section__address Наш почтовый адрес:<br><span class="contacts-section__info-text-highlighted">243140, Брянская область, г. Клинцы, ул Новая, д. 19</span>
        p.contacts-section__address Адрес нашего офиса:
          <br><span class="contacts-section__info-text-highlighted">Брянская область, г. Клинцы, пр. Ленина, д. 16 (Клинцовская городская общественная организация всероссийского общества инвалидов)
        p.contacts-section__email Адрес электронной почты: <br>
          a(class="contacts-section__mail-link" href="mailto:skazhiraku.net@mail.ru" target="_blank")
            <span class="contacts-section__info-text-highlighted">skazhiraku.net@mail.ru</span>
        p.contacts-section__phone Телефон: <br>
          a(class="contacts-section__phone-link" href="tel:+79102995050")
            <span class="contacts-section__info-text-highlighted">+7 910 299 50 50</span>
      .contacts-section__form
        form
          <input type="hidden" name="project_name" value="skazhiraku.net">
          <input type="hidden" name="admin_email" value="skazhiraku.net@mail.ru">
          <input type="hidden" name="form_subject" value="Сообщение из формы обратной связи">

          <input class="contacts-section__form-input" type="text" name="Имя" placeholder="Ваше имя" maxlength="70" required><br>
          <input class="contacts-section__form-input" type="text" name="e-mail или телефон" placeholder="Ваш e-mail или номер телефона" maxlength="70" required><br>
          <textarea class="contacts-section__form-input contacts-section__form-textarea" type="text" name="Текст сообщения" placeholder="Ваше сообщение"></textarea><br>
          .button-block
            button(class="button form-button" type="submit") Отправить сообщение
            p.privicy-text Нажимая на кнопку "отправить сообщение"<br>вы соглашаетесь с <a class="privicy-link" href="politica.html" target="_blank"> политикой конфеденциальности.</a>
