.contacts-section {
  padding: 80px 0;
}

.contacts-section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contacts-section__info-text-highlighted {
  color: $background-color;
  font-size: 24px;
}

.contacts-section__phone-link,
.contacts-section__mail-link {
  text-decoration: none;
}

.contacts-section__form-input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  padding: 14px;
  color: $text-color-dark;
  border: 1px solid $background-color;

  &:hover {
    border: 1px solid $background-color;
  }
}

.contacts-section__form-textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 115px;
  margin-bottom: 16px;
  padding: 14px;
  border: 1px solid $background-color;
  resize: vertical;
}

.button-block {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  align-items: flex-start;
}

.contacts-form button {
  background-color: white;
}

.form-button {
  margin-bottom: 16px;
}

.privicy-text {
  margin-top: 0;
  font-size: 16px;
}

.privicy-link {
  color: $background-color;
}

@media (max-width: 480px) {
  .button-block {
    display: block;
  }
}

@media (max-width: 932px) {
  .contacts-section__grid {
    display: block;
  }
}
