section.documents-section
  .container
    h2 Уставные документы фонда
    .documents-section__grid
      .galery-item
        a(href="img/photo/fond-document-1.jpg" data-fancybox="gallery")
          <img class="documents-section__img" src="img/photo/fond-document-1.jpg" alt="Документы фонда">
      .galery-item
        a(href="img/photo/fond-document-2.jpg" data-fancybox="gallery")
          <img class="documents-section__img" src="img/photo/fond-document-2.jpg" alt="Документы фонда">
