section.they-need-help-section#they-need-help-section
  .container
    h2.they-need-help-section__title Им нужна помощь
    .they-need-help-section__grid
      .they-need-help-section__card
        .they-need-help-section__card-photo-block
          <picture>
            <source srcset="" type="image/avif">
            <source srcset="" type="image/webp">
            <source srcset="img/photo/need-help-section/mark-photo-1.jpg" type="image/jpg">
            <img class="they-need-help-section__card-img" src="img/photo/need-help-section/mark-photo-1.jpg" alt="Фото Марка">
          </picture>
        .they-need-help-section__card-head
          h3.they-need-help-section__card-name Яблоков Марк
          p.they-need-help-section__card-age 6 лет
        .they-need-help-section__card-diagnosis-block
          p.they-need-help-section__card-diagnosis Диагноз:
          p.they-need-help-section__card-diagnosis-text Проблемы со зрением (-18, -16), ДЦП, спастический тетрапарез
        .they-need-help-section__card-button
          a(class="button-help button card-button" href="mark-need-help.html") Помочь Марку
