@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto.woff2"), url("../fonts/Roboto.woff"), url("../fonts/Roboto.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: italic;
  src: url("../fonts/Robotoitalic.woff2"), url("../fonts/Robotoitalic.woff"), url("../fonts/Robotoitalic.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Robotomedium.woff2"), url("../fonts/Robotomedium.woff"), url("../fonts/Robotomedium.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: italic;
  src: url("../fonts/Robotomediumitalic.woff2"), url("../fonts/Robotomediumitalic.woff"), url("../fonts/Robotomediumitalic.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Robotobold.woff2"), url("../fonts/Robotobold.woff"), url("../fonts/Robotobold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: italic;
  src: url("../fonts/Robotobolditalic.woff2"), url("../fonts/Robotobolditalic.woff"), url("../fonts/Robotobolditalic.ttf");
}
