footer.footer#footer
  .container
    .footer__grid
      .footer__item.footer__info
        .footer__logo
          img(class="footer__logo-img" src="img/logo-footer.svg", alt="Логотип фонда")
        .footer__info-block
          p.identification-numbers огрн 1213200002091<br>инн 3241017983<br>кпп 324101001
          a(class="footer__link" href="agreement.html") Пользовательское соглашение<br>
          a(class="footer__link" href="politica.html") Политика конфеденциальности
          p.copyright © 2021 Благотворительный фонд "Скажи раку — нет!"
      .footer__item.footer__site-map
        h3.footer__title Карта сайта
        .footer__site-map-block
          ul.footer__site-map-list
            li.footer__site-map-item
              a(class="footer__site-map-link footer__link" href="#") Жизнь с диагнозом
            li.footer__site-map-item
              a(class="footer__site-map-link footer__link" href="#") События
            li.footer__site-map-item
              a(class="footer__site-map-link footer__link" href="#") О фонде
            li.footer__site-map-item
              a(class="footer__site-map-link footer__link" href="#") Документы
            li.footer__site-map-item
              a(class="footer__site-map-link footer__link" href="#") Реквизиты
      .footer__item.footer__contacts
        h3.footer__title Контакты
        .footer__contacts-block
          p 243140, Брянская область, г. Клинцы, ул Новая, д. 19
          a(class="footer__link footer__contact-link" href="tel:+79102995050") +7 910 299 50 50
          a(class="footer__link footer__contact-link" href="mailto:skazhiraku.net@mail.ru" target="_blank") skazhiraku.net@mail.ru
          p Разработчик сайта: <a class="footer__link site-autor" href="#">Савенок Дмитрий</a>
