extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = ''; //- Title
  - var bodyClass = '' //- Классы для body

block content

block main
  main

block scripts
