extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Благотворительный Фонд "Скажи раку — нет!'; //- Title
  - var bodyClass = 'index-body' //- Классы для body

block content

block main
  main

block scripts
