extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Благотворительный Фонд "Скажи раку — нет!'; //- Title
  - var bodyClass = 'index-body' //- Классы для body

block content

block main
  main
    include ../blocks/slogan-section/slogan-section.pug
    include ../blocks/life-stories-section/life-stories-section.pug
    include ../blocks/contacts-section/contacts-section.pug

block scripts
