extends ../layout.pug

//- Переопредделение переменных шаблона layout.pug для страницы index.html
block vars
  - var headTitle  = 'Жизнь с диагнозом. Иван.'; //- Title
  - var bodyClass = 'life-stories-ivan-page' //- Классы для body

block styles
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>

block content

block main
  main
    include ../blocks/life-stories-article/life-stories-article-ivan.pug

block scripts
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
