section.life-stories-page-content
  .container
    h2 Жизнь с диагнозом
    .life-stories-page-content__grid
      .life-stories-section__cards-block
        .life-stories-section__card
          .life-stories-section__card-photo
            <picture>
              <source srcset="img/photo/life-stories-section/ivan.avif" type="image/avif">
              <source srcset="img/photo/life-stories-section/ivan.webp" type="image/webp">
              <source srcset="img/photo/life-stories-section/ivan.jpg" type="image/jpg">
              <img src="img/photo/life-stories-section/ivan.jpg" alt="Фото Вани">
            </picture>
          .life-stories-section__card-head
            h3.life-stories-section__card-name Ваня
            p.life-stories-section__card-age 7 лет
          .life-stories-section__card-diagnosis-block
            p.life-stories-section__card-diagnosis Диагноз:
            p.life-stories-section__card-diagnosis-text Спина бифида
          .life-stories-section__card-button
            a(class="button card-button" href="life-stories-ivan-page.html") Узнать историю Вани
        .life-stories-section__card
          .life-stories-section__card-photo
            <picture>
              <source srcset="img/photo/life-stories-section/gleb.avif" type="image/avif">
              <source srcset="img/photo/life-stories-section/gleb.webp" type="image/webp">
              <source srcset="img/photo/life-stories-section/gleb.jpg" type="image/jpg">
              <img src="img/photo/life-stories-section/gleb.jpg" alt="Фото Вани">
            </picture>
          .life-stories-section__card-head
            h3.life-stories-section__card-name Глеб
            p.life-stories-section__card-age 11 лет
          .life-stories-section__card-diagnosis-block
            p.life-stories-section__card-diagnosis Диагноз:
            p.life-stories-section__card-diagnosis-text Спинальная мышечная атрофия-1тип
          .life-stories-section__card-button
            a(class="button card-button" href="#") Узнать историю Глеба
