$background-color: #539da6;
$background-color-dark: #0e4e57;
$background-color-hover: #3b8892;
$text-color-dark: #656565;
$help-btn-color: #57b092;
$help-btn-color-hover: #42a081;

$required-amount: #a04d42;
