.header-desktop {
    height: 90px;
    display: grid;
    grid-template-columns: 25%;
    background-color: white;
    filter: drop-shadow(0px 4px 6px rgba(0,0,0, 0.12));
}

.logo {
    padding: 15px;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: white;
}

.header__logo {
    max-width: 100%;
    height: auto;
}

.info {
    grid-column-start: 2;
}

.header__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: $background-color;
}

.header__contacts img {
    padding-top: 1px;
    height: 13px;
    margin-right: 8px;
}

.header__vk-icon {
    padding-top: 3px !important;
    height: 12px !important;
}

.header__contacts ul li {
    vertical-align: middle;
    display: inline;
}

.header__contacts li a {
    margin-right: 62px;
}

.header__contacts a {
    color: white;
    text-decoration: none;
    background-image: linear-gradient( white,white);
    background-position: 0% 110%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
}

.header__contacts a:hover {
    background-size: 100% 2px;
}

.header__contacts a:first-child {
    margin-left: 16px;
}

.english-version-btn {
    float: right;
    margin-right: 16px;
    color: white;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: white;
}

.header__navigation ul {
    float: left;
}

.header__navigation ul li {
    display: inline;
}

.header__navigation a {
    padding: 13px 14px;
    color: $text-color-dark;
    &:hover {
        transition-duration: 0.2s;
        color: $background-color;
        background-color: #f2f2f2
    }
}

.header__navigation svg {
    fill: $text-color-dark;
}

.header__help-buttons {
    float: right;
    font-size: 0;
}

.need-help-btn {
    padding: 14px 14px;
    background-color: white;
    &:hover {
        transition-duration: 0.2s;
        color: $background-color;
        background-color: #f2f2f2
    }
}

.help-btn {
    padding: 14px;
    color: white;
    background-color: $help-btn-color;
    &:hover {
        transition-duration: 0.2s;
        background-color: $help-btn-color-hover;
    }
}


/* Dropdown button */

.btn {
    padding: 16px;
    &:hover svg {
        fill: $background-color;
    }
}

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: $text-color-dark;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn:hover, .dropdown:hover .btn {
    background-color: #f2f2f2;
}

/* Adaptation */

@media (max-width: 1267px) {
    .hide {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

}

@media (max-width: 1057px) {
    .header__contacts li a {
        margin-right: 31px;
    }

    .help-btn, .need-help-btn {
        padding: 14.3px;
    }
}

@media (max-width: 935px) {
    .header-desktop {
        display: none;
    }
}