.header-descktop {
    height: 90px;
    display: grid;
    grid-template-columns: 25%;
    background-color: white;
    filter: drop-shadow(0px 4px 6px rgba(0,0,0, 0.12));
}

.logo {
    padding: 15px;
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: white;
}

.header__logo {
    max-width: 100%;
    height: auto;
}

.info {
    grid-column-start: 2;
}

.header__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: $background-color;
}

.header__contacts img {
    height: 14px;
    margin-right: 8px;
}

.header__vk-icon {
    padding-top: 1px;
    height: 12px !important;
}

.header__contacts ul li{
    vertical-align: middle;
    display: inline;
}

.header__contacts ul a {
    margin-right: 62px;
    color: white;
}

.header__contacts a:hover {
    transition-duration: 0.2s;
    text-decoration: underline;
}

.header__contacts a:first-child {
    margin-left: 16px;
}

.english-version-btn {
    float: right;
    padding: 0 16px;
    margin-right: 0;
    color: white;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: white;
}

.header__navigation ul {
    float: left;
}

.header__navigation ul li {
    display: inline;
}

.header__navigation a {
    padding: 13px 14px;
    color: $text-color-dark;
    &:hover {
        transition-duration: 0.2s;
        color: $background-color;
        background-color: #f2f2f2
    }
}

.header__help-buttons {
    float: right;
    font-size: 0;
}

.need-help-btn {
    padding: 14px 14px;
    background-color: white;
    &:hover {
        transition-duration: 0.2s;
        color: $background-color;
        background-color: #f2f2f2
    }
}

.help-btn {
    padding: 14px 14px;
    color: white;
    background-color: $help-btn-color;
    &:hover {
        transition-duration: 0.2s;
        background-color: $help-btn-color-hover;
    }
}