/* -- header-desktop -- */
header {
    position: relative;
    z-index: 3;
}

.header-desktop {
    height: 90px;
    background-color: white;
    filter: drop-shadow(0px 4px 6px rgba(0,0,0, 0.12));
}

.header-desktop__background {
    height: 45px;
    background: linear-gradient(to right, white 50%, $background-color 50%);
}

.header-desktop__content {
    height: 90px;
    display: grid;
    align-items: center;
    grid-template-columns: 330px auto 280px;
    grid-template-rows: 50% 50%;
}

.header-desktop .header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header-desktop img {
    max-width: 100%;
    height: auto;
}

.header-contacts {
    height: 45px;
    background-color: $background-color;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;
}

.header-contacts svg {
    height: 1em;
    margin-right: 8px;
    fill: white;
}

.header-contacts a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-right: 2em;
    &:hover {
        opacity: 60%;
        transition-duration: 0.5s;
    }
}

.header-navigation {
    display: flex;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.header-navigation a {
    height: 45px;
    line-height: 45px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
    color: $text-color-dark;
    &:hover {
        background-color: #f2f2f2;
        color: $background-color;
        transition-duration: 0.5s;
    }
}

.header-english-button {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
}

.header-english-button a {
    width: 86.500px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    text-decoration: none;
    &:hover {
        background-color: $background-color-hover;
        transition-duration: 0.5s;
    }
}

.header-help-buttons {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: flex-end;
}

.header-help-buttons a {
    height: 45px;
    line-height: 45px;
    padding-left: 14px;
    padding-right: 14px;
    text-decoration: none;
}

.need-help-button {
    color: $text-color-dark;
    &:hover {
        background-color: #f2f2f2;
        color: $background-color;
        transition-duration: 0.5s;
    }
}

/* Header dropdown menu */

.hide-menu {
    display: none;
}

.dropbtn {
    padding: 12px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    display: inline-block;
    &:hover svg {
        fill: $background-color;
        transition-duration: 0.5s;
    }
  }

  .dropdown svg {
    height: 1em;
    fill: $text-color-dark;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    filter: drop-shadow(0px 4px 6px rgba(0,0,0, 0.12));
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f2f2f2;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    transition-duration: 0.5s;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f2f2f2;
    transition-duration: 0.5s;
  }

  /* Adaptation */

    @media (min-width: 1342px) {
        .dropdown {
            display: none;
        }

        .hide-menu {
            display: inherit;
        }
    }

    @media (max-width: 1294px) {
        .header-contacts svg {
            margin-right: 5px;
        }

        .header-contacts a {
            margin-right: 1em;
        }
    }

    @media (max-width: 1237px) {
        .header-desktop {
            display: none;
        }

        .header-mobile {
            display: grid;
        }
    }