.how-we-help {
    padding: 4em 0;
}

.how-we-help__grid {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
}

.how-we-help__item {
    display: grid;
    grid-template-columns: 20% 80%;
    height: auto;
    padding: 0.7em;
    background-color: white;
    filter: drop-shadow(0px 4px 6px rgba(0,0,0, 0.12));
}

.background-number {
    grid-column: 1 / 2;
    padding-top: 0.5em;
    text-align: center;
}

.background-number span {
    grid-column: 1 / 2;
    font-size: 5em;
    font-weight: bold;
    color: rgba(83, 157, 166, 0.3);
}

.how-we-help__item .item-info {
    grid-column: 2 / 3;
}

.how-we-help__item h3 {
    margin-bottom: 0;
}

/* Adaptation */

/* Smartphones */
@media (max-width: 480px) {
    .how-we-help__grid {
        display: block;
    }
    
    .how-we-help__item {
        min-height: 130px;
        margin-bottom: 1em;
    }

    .background-number span {
        font-size: 4em;
    }
}

/* Table 481-768 */
@media (min-width: 481px) and (max-width: 768px) {
    .how-we-help__grid {
        display: block;
    }
    
    .how-we-help__item {
        min-height: 130px;
        margin-bottom: 1em;
    }
}

@media (max-width: 1119px) {
    .how-we-help__grid {
        display: block;
    }

    .how-we-help__item {
        min-height: 120px;
        margin-bottom: 1em;
    }
}

/* Table 768-1238 */
@media (min-width: 768px) and (max-width: 1238px) {
    .how-we-help__item {
        grid-template-columns: 25% 75%;
    }
}