.development-page .logo {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
}

.development-page img {
    height: 4em;
}

.development-page__info {
    width: 60%;
    margin: 0 auto;
}

.development-page__info p {
    text-align: center;
    margin-bottom: 2em;
}

.development-page__info span {
    color: $background-color;
    font-size: 2em;
    line-height: 1.5em;
}