.sms-slide {
    background-image: url(../img/screen-carousel/sms-screen-bg.jpg);
    background-size: 750px;
    background-position: top right;
    background-repeat: no-repeat;
}

.sms-slide h2 {
    color: $background-color;
    font-size: 2.5em;
    font-weight: normal;
}

.sms-slide p {
    color: $text-color-dark;
    font-size: 1.4em;
    margin-bottom: 65px;
}

.color_text {
    color: $background-color;
    text-transform: uppercase;
}