$background-color: #539DA6; /**/
$background-color-dark: #0e4e57; /**/
$background-color-hover: #3b8892; /**/
$text-color-dark: #656565; /**/
$help-btn-color: #57B092; /**/
$help-btn-color-hover: #42a081; /**/