.volunteer-slide h2 {
    color: $background-color;
    font-size: 2.5em;
    font-weight: normal;
}

.volunteer-slide p {
    color: $text-color-dark;
    font-size: 1.2em;
    margin-bottom: 65px;
}