header.header#header
  .header-background
    .container
      .header__grid
        a(class="header__logo-link" href="index.html")
          img(class="header__logo-img" src="img/logo.svg", alt="Логотип фонда")
        .header__content
          .header__contacts
          .header__navigation
            ul.header__navigation-list
              li.header__navigation-item
                a(class="header__navigation-link" href="#") О фонде
              li.header__navigation-item
                a(class="header__navigation-link" href="#") События
              li.header__navigation-item
                a(class="header__navigation-link" href="#") Жизнь с диагнозом
              li.header__navigation-item
                a(class="header__navigation-link" href="#") Документы
              li.header__navigation-item
                a(class="header__navigation-link" href="#") Реквизиты
          .header__buttons-block
