section.life-stories-section#life-stories-section
  .container
    h2 Жизнь с диагнозом
    .life-stories-section__grid
      .life-stories-section__item.life-stories-section__description
        p.life-stories-section__description-text Диагноз не приговор, а руководство к действию. В этом можно убедиться, прочитав реальные истории семей с особенным ребенком и особенных взрослых. Несмотря на свою не простую жизнь и ограничения, они учатся, дружат, посещают разнообразные кружки, работают, выходят замуж, женятся и воспитывают детей. Своим упорством и оптимизмом они верно идут к своей цели - быть счастливым несмотря ни на что.
        p.life-stories-section__description-text Мы хотим, рассказать о жизни этих сильных духом взрослых, детей и их родителей, чтобы понять через что им пришлось пройти и как у них складывается жизнь сейчас.
        a(class="button" href="life-stories-page.html") Читать все истории
      .life-stories-section__item.life-stories-section__cards-block
        .life-stories-section__card
          .life-stories-section__card-photo
            <picture>
              <source srcset="img/photo/life-stories-section/ivan.avif" type="image/avif">
              <source srcset="img/photo/life-stories-section/ivan.webp" type="image/webp">
              <source srcset="img/photo/life-stories-section/ivan.jpg" type="image/jpg">
              <img src="img/photo/life-stories-section/ivan.jpg" alt="Фото Вани">
            </picture>
          .life-stories-section__card-head
            h3.life-stories-section__card-name Ваня
            p.life-stories-section__card-age 7 лет
          .life-stories-section__card-diagnosis-block
            p.life-stories-section__card-diagnosis Диагноз:
            p.life-stories-section__card-diagnosis-text Спина бифида
          .life-stories-section__card-button
            a(class="button card-button" href="life-stories-ivan-page.html") Узнать историю Вани
        .life-stories-section__card
          .life-stories-section__card-photo
            <picture>
              <source srcset="img/photo/life-stories-section/gleb.avif" type="image/avif">
              <source srcset="img/photo/life-stories-section/gleb.webp" type="image/webp">
              <source srcset="img/photo/life-stories-section/gleb.jpg" type="image/jpg">
              <img src="img/photo/life-stories-section/gleb.jpg" alt="Фото Вани">
            </picture>
          .life-stories-section__card-head
            h3.life-stories-section__card-name Глеб
            p.life-stories-section__card-age 11 лет
          .life-stories-section__card-diagnosis-block
            p.life-stories-section__card-diagnosis Диагноз:
            p.life-stories-section__card-diagnosis-text Спинальная мышечная атрофия-1тип
          .life-stories-section__card-button
            a(class="button card-button" href="life-stories-gleb-page.html") Узнать историю Глеба
